
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    width: 98%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    /* 1 rem = 10px*/
}
body {
    overflow-x: hidden;
    background-color: rgb(242, 244, 247);
}
/* header */
header {
    background-color: #D3CBDB;
}
header nav {
    color: rgb(123, 118, 118);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size:large;
    font-style: normal;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}
header nav ul li :hover {
    color: rgb(43, 45, 44) ;
}
nav a {
    font-size: 1.3rem;
}
.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul li {
    color: rgb(123, 118, 118);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
    list-style-type: none;
}
.color-icon {
    color: rgb(123, 118, 118); 
}

/* textos */
h1 {
    color: #750BDB ;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}
h2 {
    color: #750BDB;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    list-style-type: none;
    text-align: center;
    font-size: 1.8rem;
    padding: 1rem;
}
h3 {
    color: rgb(113, 113, 171) ;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(113, 113, 171);
    padding: 1rem;
}
a {
    text-decoration: none;
}
/* contenido */
 /* Página inicio */

.carousel-inner img {
    width: 70%;
    border-radius: 7%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article {
    width: 82.5%;
    height: 20rem;
    background-color: #DCD4CA;
    padding: 2rem;
    margin-bottom: 1.5rem;
}
article svg {
    width: 200px;
    height: 200px;
}
.libros {
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-grow: auto;
    gap: 1rem;
    width: 20%;
    padding: auto;
    margin-bottom: auto;
}
article p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 1rem;
    color: rgb(113, 113, 171);
    padding: 0.5rem;
}
/* Páguna Acerca de nosotros */
.parallax {
    background-image: url(../assets/parallax.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    height: 50vh;
}
/* Página Libros */
/* grid */
.grid-galeria {
    width: 50%;
    display: grid;
    justify-content:center;
    align-content:center;
    align-items:flex-end;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: auto;
    grid-column-gap: 0.5rem;
}
.galeria-img-uno {
    grid-column: 1/2;
    grid-row: 1/3;
}
.galeria-img-dos {
    grid-column: 2/3;
    grid-row: 1/2;
}
.galeria-img-tres {
    grid-column: 2/3;
    grid-row: 2/3;
}

.feria-img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.donaciones-img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
/* Página talleres */
.talleres-img {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.tipos-talleres {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Página contacto */
input {
    display: block;
    margin-bottom: 0.5rem;
}
textarea {
    height: 5rem;
    margin-left: 1rem;
}
/*formulario*/
form {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    font-size: 1.6rem;
    color: rgb(113, 113, 171);
}
.btn-submit {
    background-color: #D3CBDB;
    border-radius: 2%;
    width: 10rem;
    height: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: justify;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* footer */
footer {
    background-color: #D3CBDB ;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
footer ul li  {
    font-size: 1rem;
}
footer p{
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}
.btn-wpp{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: green;
    color: white;
    padding: 1rem;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}
footer svg {
    color: rgb(96, 86, 86);
    width: 3rem;
    height: 3rem;
}
/*mobile*/
@media screen and (min-width: 320px) and (max-width: 767px){
    header nav {
        font-weight: 400;
    }
    ul li {
        font-size: 1.3rem;
    }
    .logo {
        width: 3rem;
        height: 3rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.3rem;
    }
    article p {
        font-size: 1rem;
    }
    .libros {
        width: 30%;
    }
    footer ul li  {
        font-size: 0.8rem;
    }
    footer svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    footer p{
        font-size: 0.8rem;
    }
}
/*tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    header nav {
        font-weight: 600;
    }
    ul li {
        font-size: 1.8rem;
    }
    .logo {
        width: 6rem;
        height: 6rem;
    }
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    p {
        font-size: 1.5rem;
    }
    article p {
        font-size: 1.3rem;
    }
    .libros {
        width: 20%;
    }
    footer ul li  {
        font-size: 1rem;
    }
    footer svg {
        width: 2.5rem;
        height: 2.5rem;
    }
    footer p{
        font-size: 1rem;
    }
}
/*desktop*/
@media screen and (min-width: 1024px) and (orientation: landscape){
    header nav {
        font-weight: 700;
    }
    ul li {
        font-size: 2rem;
    }
    .logo {
        width: 8rem;
        height: 8rem;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.8rem;
    }
    p {
        font-size: 1.8rem;
    }
    article p {
        font-size: 1.3rem;
    }
    .libros {
        width: 15%;
    }
    footer ul li  {
        font-size: 1.3rem;
    }
    footer p{
        font-size: 1.3rem;
    }
}

