$violeta-fuerte:#750BDB;
$violeta-medio:rgb(113, 113, 171);
$gris-nav-footer: rgb(96, 86, 86);
$background-nav: #D3CBDB;

$background-oscuro: #dcd0ca; 
$texto-oscuro:  rgb(113, 113, 171);
$texto-claro: white;
$background-claro:#DCD4CA;