header {
    background-color: #D3CBDB;
    nav {
        color: rgb(123, 118, 118);
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size:large;
        font-style: normal;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include mobile {
            font-weight: 400;
        }
        @include tablet {
            font-weight: 600;
        }
        @include desktop {
            font-weight: 700;
        }

        div { 
            a {
                font-size: 1.3rem;
                text-decoration: none;
                img {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; 
                    width: 3rem;
                    height: 3rem;
                    margin-left: 3rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;

                    @include mobile {
                        width: 3rem;
                        height: 3rem;
                    }
                    @include tablet {
                        width: 6rem;
                        height: 6rem;
                    }
                    @include desktop {
                        width: 8rem;
                        height: 8rem;
                    }
                }
            }
            button {
                span {
                    .color-icon {
                        color:  rgb(123, 118, 118);
                    }
                } 
            }
            @for $i from 1 through 4 {
                ul:nth-child(#{$i}) {
                    background-color: lighten($background-nav, $i * 2%);
                }
            }
            ul { 
                display: flex;
                flex-direction: row;
                justify-content:space-between;
                align-items:center;                       
                    li { 
                        color: rgb(123, 118, 118);
                        font-family: "Poppins", sans-serif;
                        font-weight: 400;
                        font-size: 1.3rem;
                        font-style: normal;
                        list-style-type: none;
                        &:hover {
                            color: rgb(43, 45, 44) ;
                        } 

                        @include mobile {
                            font-size: 1.3rem;
                        }
                        @include tablet {
                            font-size: 1.8rem;
                        }
                        @include desktop {
                            font-size: 2rem;
                        }
                    } 
            }
        }
    }
}